body{
    margin: 0;
}

.title{
    color: teal;
    text-align: center;
}

.top-section{
    display: flex;
    width: 80%;
    margin: 0 auto;
    border: 1px solid purple;
    padding: 10px;
}

.bd-info{

}

.bd-map img{
    width: 100%;
}

.details-button{
    display: inline-block;
    text-decoration: none;
    color: white;
    font-weight: 700;
    margin-top: 10px;
    padding: 10px 30px;
    border-radius: 7px;
    background-image: linear-gradient(90deg, #00d2ff, #3a7bd5);
}

.details-button:hover{
    background-image: linear-gradient(90deg, #3a7bd5, #00d2ff);
    color: whitesmoke;
}